@import url('https://fonts.cdnfonts.com/css/margesh');
@import url('https://fonts.cdnfonts.com/css/red-hat-mono');

@import "tailwindcss";

body {
  background-color: #fefefe;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

div {
  border-radius: 5px;
} 

main {
  display: flex;
  flex-direction: column;
}

p {
  font-family: 'Red Hat Mono', sans-serif;
}

h1 {
  font-size: 80;
  font-family: 'Margesh', sans-serif;
}

h2 {
  font-size: 50;
  font-family: 'Margesh', sans-serif;
}

h3 {
  font-size: large;
  font-family: 'Red Hat Mono', sans-serif;
}

a {
  text-decoration: underline;
  font-weight: 500;
}